extends layout

block content

  h1 ID: #{book_instance._id}

  p #[strong Title:] 
    a(href=book.url) #{book.title}
  p #[strong Imprint:] #{book_instance.imprint}

  p #[strong Status:] 
    if book_instance.status === 'Available'
      span.text-success #{book_instance.status}
    else if book_instance.status === 'Maintenance'
      span.text-danger #{book_instance.status}
    else
      span.text-warning #{book_instance.status}

  if book_instance.status !== 'Available'
    p #[strong Due back:] #{book_instance.due_back_formatted}
